body{
    background-color: #f0f0f0;
    text-align: center;
    font-family: 'Helvetica', 'Arial', sans-serif;
}

h1{
    text-align: center;
    color: #333;
}
h1{
    text-align: center;
    color: #666;
}
p {
    margin: 10px 0;
}
#latitude, #longitude {
    font-weight: bold;
    color: #007bff;
}
a {
    display: block;
    text-align: center;
    margin: 20px 0;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}
a:hover {
    background-color: #0056b3;
}