{% extends "base.html" %}
{% block content %}
 <h1>フォーム送信確認</h1>
 <h2>フォームを送信しました</h2>
 <h1>{{user_name}}さん</h1>
<h2>感動量</h2>
<form method="POST">
{% for i in range(1,11) %}
  <input type="radio" name="impression" value="{{ i }}">{{ i }}</input>>
{% endfor %}
<button type="submit">送信</button>
</form>
 <p>緯度：<span id="latitude">{{ lat }}</span><span>度</span></p>
 <p>経度：<span id="longitude">{{ lon }}</span><span>度</span></p>

<script src="/static/js/location.js"></script>
 <a href="/register/save_location/aa" role="button">戻る</a>
{% endblock %}