{% extends "base.html" %}
{% block content %}
<link rel="stylesheet" href="../static/css/normalize.css">
<link rel="stylesheet" href="../static/css/header.css">
<header class="header">
  <p class="logo"> 
    <a href="/">TOP</a>
  </p>
  <nav class="menu">
   <ul class="top-menu">
     <li class="menu-item"><a href="/register/login">ログイン画面へ</a></li>
   </ul>
  </nav>
</header>
<link rel="stylesheet" href="../static/css/register.css">
<h1 id="form"> 登録 </h1>
 <form method="POST">
   <div class="register-login">
     <label for="user_name">氏名</label>
     <input class="input" type="text" name="user_name">
     <label for="password">パスワード</label>
     <input class="input" type="password" name="password">
     <input class="form-btn input" type="submit" value="新規登録">
   </div> 
 </form>
 {% endblock %}